[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
future = "*"
pytest = "*"
"pathlib2" = "*"
scandir = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
future = "*"
pytest = "*"
pathlib = "*"
sphinx = "==1.8.0"
sphinx-autobuild = "==0.7.1"

[requires]
python_version = "3.7"
