[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
future = "*"
pytest = "*"
sphinx = "*"
sphinx-autobuild = "*"

[packages]
future = "*"
pytest = "*"
pathlib = "*"

[requires]
python_version = "3.7"
